.nav-content{
  margin-right: 205px;
  
}
.nav-link{
  color: #f9c74f;
}
.navbar-brand{
  margin-left: 160px;
}
.search-bar-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  background-color: #1b263b;
}
.search-control {
   width: 100%;
  padding: 12px 45px 12px 20px;
  border: none;
  border-radius: 30px;
  background-color: #2c2c3e;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}
.search-control::placeholder {
  color: #999999;
}

.search-control:focus {
  background-color: #353545;
}
.search-icon{
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #6c757d;
  /* pointer-events: none; */
  cursor: pointer;
  color: #f9c74f;
}


